<%= form_with(model: veterinario, class: "needs-validation") do |form| %>
  <% if veterinario.errors.any? %>
    <div class="alert alert-danger">
      <h5><%= pluralize(veterinario.errors.count, "erro") %> impediram que este veterinário fosse salvo:</h5>
      <ul class="mb-0">
        <% veterinario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-3">
    <div class="col-md-6 mb-3">
      <%= form.label :nome, class: "form-label" %>
      <%= form.text_field :nome, class: "form-control", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :especialidade, class: "form-label" %>
      <%= form.select :especialidade, 
            ["Clínico Geral", "Cirurgião", "Dermatologia", "Cardiologia", "Oftalmologia", "Ortopedia", "Anestesiologia", "Oncologia", "Neurologia", "Comportamento Animal", "Medicina de Animais Silvestres", "Odontologia Veterinária"],
            { include_blank: "Selecione a especialidade" },
            class: "form-select" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :telefone, class: "form-label" %>
      <%= form.text_field :telefone, class: "form-control" %>
    </div>

     <div class="col-md-6 mb-3">
      <%= form.label :CRMV, class: "form-label" %>
      <%= form.text_field :crmv, class: "form-control" %>
    </div>

    <div class="col-12">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%= form.submit "Salvar", class: "btn btn-primary" %>
       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
<% end %>
