<div id="<%= dom_id tutor %>">
  <p>
    <strong>Nome:</strong>
    <%= tutor.nome %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= tutor.telefone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= tutor.email %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= tutor.cpf %>
  </p>

  <p>
    <strong>Rg:</strong>
    <%= tutor.rg %>
  </p>

</div>
