<tr id="<%= dom_id(agendamento) %>">
  
  <td><%= agendamento.try(:veterinario).try(:nome) || "Veterinário não associado" %></td>
  <td><%= agendamento.try(:pet).try(:nome) || "Pet não associado" %></td> 
  <td><%= agendamento.try(:pet).try(:tutor).try(:nome) || "Tutor não associado" %></td> 
  <td>
    <%= agendamento.try(:data_hora)&.strftime("%d/%m/%Y às %H:%M") || "Horário não disponível" %>
  </td>
  <% if local_assigns[:show_actions] %>
    <td class="text-center">
      <%= link_to "Ver", agendamento, data: { turbo_frame: "modal" }, class: "btn btn-info btn-sm" %>
      <%= link_to "Editar", edit_agendamento_path(agendamento), data: { turbo_frame: "modal" }, class: "btn btn-warning btn-sm" %>
      <%= button_to "Excluir", agendamento, method: :delete, class: "btn btn-sm btn-danger d-inline", form: { style: 'display: inline', data: { turbo_confirm: 'Tem certeza?' } } %>
    </td>
  <% end %>
</tr>