<div id="<%= dom_id agendamento %>">
  <p>
    <strong>Data hora:</strong>
    <%= agendamento.data_hora %>
  </p>

  <p>
    <strong>Observacoes:</strong>
    <%= agendamento.observacoes %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= agendamento.pet_id %>
  </p>

  <p>
    <strong>Veterinario:</strong>
    <%= agendamento.veterinario_id %>
  </p>

</div>
