<%= form_with(model: agendamento) do |form| %>
  <% if agendamento.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>

      <ul>
        <% agendamento.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :data_hora, style: "display: block" %>
    <%= form.datetime_field :data_hora %>
  </div>

  <div>
    <%= form.label :observacoes, style: "display: block" %>
    <%= form.textarea :observacoes %>
  </div>

  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <%= form.text_field :pet_id %>
  </div>

  <div>
    <%= form.label :veterinario_id, style: "display: block" %>
    <%= form.text_field :veterinario_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
